<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="author" content="minhdd15112003">
  <meta name="description" content="Free online tool to quickly and easily remove image backgrounds. Upload your image and remove the background in seconds.">
  <meta name="keywords" content="background remover, xóa phông nền ảnh, image background removal">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Background remover - Xóa phông nền ảnh">
  <meta name="twitter:description" content="Free online tool to quickly and easily remove image backgrounds. Upload your image and remove the background in seconds.">
  <meta name="twitter:image" content="https://example.com/path/to/image.jpg">
  <!-- Facebook -->
  <meta property="og:title" content="Background remover - Xóa phông nền ảnh">
  <meta property="og:description" content="Free online tool to quickly and easily remove image backgrounds. Upload your image and remove the background in seconds.">
  <meta property="og:image" content="https://example.com/path/to/image.jpg">
  <meta property="og:url" content="https://example.com">
  <!-- Icons -->
  <link rel="icon" href="path/to/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="path/to/apple-touch-icon.png">
  <meta name="google-site-verification" content="5ACriEqEQQRmeibWjryWdNTFpKS-f_CM7XT4snLEO2k" />
  <!-- Language support -->
  <link rel="alternate" hreflang="x-default" href="https://webio.social/en" />
  <link rel="alternate" hreflang="vi" href="https://webio.social/vi" />
  <link rel="alternate" hreflang="en" href="https://webio.social/en" />
  <link rel="alternate" hreflang="hi" href="https://webio.social/hi" />
  <link rel="alternate" hreflang="ja" href="https://webio.social/ja" />
  <link rel="alternate" hreflang="de" href="https://webio.social/de" />
  <link rel="alternate" hreflang="fr" href="https://webio.social/fr" />
  <link rel="alternate" hreflang="pt" href="https://webio.social/pt" />
  <link rel="alternate" hreflang="ru" href="https://webio.social/ru" />
  <link rel="alternate" hreflang="ko" href="https://webio.social/ko" />
  <link rel="stylesheet" href="/public/stylesheets/styles.pure.css">
</head>
<%- body %>

</html>


<%- include('./partials/footer.ejs') %>