body {
    padding: 50px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}
#feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 40px;
    justify-content: space-between;
    padding: 20px;
}
.feature {
    display: flex;
    flex: 1;
    max-width: 550px;
    min-width: 300px;
}
.feature img {
    margin-right: 20px;
    opacity: 0.6;
}
.feature p {
    margin: 0;
}
.feature p a {
    color: var(--accent-light-color);
}
.feature p a:hover {
    text-decoration: underline;
}
section.faq {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
section.faq .faq summary {
    color: var(--text-color);
}
section.faq .wrap {
    margin-top: 10px !important;
    max-width: 100%;
    width: 100%;
}
.faq details {
    border-bottom: 1px solid var(--component-dim);
    color: var(--text-dim);
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.faq summary {
    color: #06090a;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 10px;
    transition: all 0.5s ease;
}
.faq summary::-webkit-details-marker {
    display: none;
}
.faq summary:after {
    content: "\002B";
    margin-right: 10px;
}
.faq details[open] summary:after {
    content: "\00D7";
}

