body {
    padding: 50px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}
#feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 40px;
    justify-content: space-between;
    padding: 20px;
}
.feature {
    display: flex;
    flex: 1;
    max-width: 550px;
    min-width: 300px;
}
.feature img {
    margin-right: 20px;
    opacity: 0.6;
}
.feature p {
    margin: 0;
}
.feature p a {
    color: var(--accent-light-color);
}
.feature p a:hover {
    text-decoration: underline;
}


